Node-RED_clip/node
[{"id":"653ea06c.42081","type":"http in","z":"43b764eb.47d4ec","name":"","url":"/tts_visualstudio","method":"get","upload":false,"swaggerDoc":"","x":143,"y":178,"wires":[["e99063d4.2b906"]]},{"id":"1d7d4121.b2aaef","type":"http response","z":"43b764eb.47d4ec","name":"","statusCode":"","headers":{},"x":966,"y":334,"wires":[]},{"id":"be2afa7c.cb46f8","type":"watson-text-to-speech","z":"43b764eb.47d4ec","name":"Watson Text To Speech","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_MichaelVoice","voicehidden":"en-US_MichaelVoice","format":"audio/wav","password":"","payload-response":false,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/text-to-speech/api","x":655,"y":50,"wires":[["7dc3e1fc.1ec6e8"]]},{"id":"e99063d4.2b906","type":"switch","z":"43b764eb.47d4ec","name":"","property":"payload.text_to_say","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","outputs":2,"x":348,"y":295,"wires":[["689981ce.333df8"],["ab24ff75.fce82"]]},{"id":"689981ce.333df8","type":"change","z":"43b764eb.47d4ec","name":"Sets payload to text_to_say","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.text_to_say","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":151,"wires":[["be2afa7c.cb46f8"]]},{"id":"7dc3e1fc.1ec6e8","type":"change","z":"43b764eb.47d4ec","name":"Sets payload to speech","rules":[{"t":"set","p":"payload","pt":"msg","to":"speech","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":728,"y":308,"wires":[["1faf0d59.daaf63"]]},{"id":"1faf0d59.daaf63","type":"function","z":"43b764eb.47d4ec","name":"Set Headers","func":"msg.headers={ 'Content-Type': 'audio/wav'};\nreturn msg; \n","outputs":1,"noerr":0,"x":875,"y":179,"wires":[["1d7d4121.b2aaef"]]},{"id":"c8a2e312.438b18","type":"debug","z":"43b764eb.47d4ec","name":"No text","active":true,"console":"false","complete":"payload","x":636,"y":502,"wires":[]},{"id":"ab24ff75.fce82","type":"function","z":"43b764eb.47d4ec","name":"Sets payload","func":"msg.payload = \"No text inserted\"; \nreturn msg;","outputs":1,"noerr":0,"x":470,"y":416,"wires":[["c8a2e312.438b18"]]}]
